
<%- include('./partials/head.ejs') %>

    <body>
        <h1>Add a Quest!</h1>
        <form action="/questlog/" method="POST">
            Title: <input type="text" name="title"/><br>
            Description: <input type="text" name="description"/><br>
            Inspiration photo: <input type="text" name="imageUrl"/><br>
            What type of quest is this? <select id="questType" name="questType">
                <option value="Travel">Travel</option>
                <option value="Experience">Experience</option>
                <option value="Life Goal">Life Goal</option>
            </select>
            Have you completed this quest? <input type="checkbox" name="isCompleted"/><br>
            <input type ="submit" value="Add to quest log"/> 
        </form>
    </body>
