
<%- include('./partials/head.ejs') %>

    <body id ="new">
        
        <h1 class="newh1">Add to quest log!</h1>
        <div class="newquest">
        <form action="/questlog/" id="newform" method="POST">
            Title: <input type="text" name="title"/><br>
            Description: <input type="text" name="description"/><br>
            Inspiration photo: <input type="text" name="imageUrl"/><br>
            What type of quest is this? <select id="questType" name="questType">
                <option value="Travel">Travel</option>
                <option value="Experience">Experience</option>
                <option value="Life Goal">Life Goal</option>
            </select>
            Have you completed this quest? <input type="checkbox" name="isCompleted"/><br><br>
            <input type ="submit" class="waves-effect waves-light btn" id="newbutton" value="Add to quest log"/> 
        </form>
    </div>
    </body>
