body {
    background-image: url("https://i.imgur.com/2YQV4UP.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: "Rosarivo", cursive;
    font-weight: 400;
    font-style: normal;

}

.welcome {
  background-color: rgba(80, 87, 105, 0.536);
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 50px;
  max-width: 750px;
  margin: 0 auto;
  position: sticky;
  top: 25%;
}


#button {
 background-color: white;
 color:gray;
 display: block;
 margin: 0 auto;
 width: 225px;
}

#newbutton {
    background-color: white;
    color:gray;
    display: block;
    margin: 0 auto;
    width: 225px;
}

#new, #log {
    color:white;
    background-color: rgba(80, 87, 105, 0.536);
    background-image: none;
}

.newquest {
    background-color: rgba(80, 87, 105, 0.536);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 30%;
    max-width: 500px;
    margin: 0 auto;
}

.newh1 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 15%;
}

.indexcontainer {
    display: flex;
    height: 100vh;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.index {
    width: 300px;
    height: 300px;
    display: flex;
    padding: 10px;
    background-color: rgba(49, 116, 175, 0.415);
    margin-right: 30px;
    margin-top: 25px;
    border-radius: 5px;
    justify-content: center;
    position: sticky;
    
}

.indexbutton {
    display: flex;
    justify-content: center;
    width: 150px;
    height: 20px;
    position: absolute;
    margin-top: 80%;
}

#log {
    background-color: grey;
}


#questcontainer {
    display: flex;
    position: relative;
    height: 500px;
    width: 500px;
    justify-content: center;
    margin-left: 12%;
    margin-top: 5%;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.213);
}


.nav-wrapper{
    background-color: grey;
    display: block;
    position: static;
}